.board-element {
  color: white;
  height: 300px;
  width: 300px;
  display: grid;
  align-self: center;
  justify-content: center;
  background-color: var(--color-dark-green);
  column-gap: 0.25em;
  grid-template-columns: repeat(5, 0fr);
  margin-bottom: 2em;
}
